$(document).ready(
    function() {

        var adSync = function(btnClicked) {
            if (this === window) {
                return new adSync(btnClicked);
            }
            this.letterList = ['carret','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
            this.personId = btnClicked.data('person-id');
            this.uid = btnClicked.data('person-uid');
            this.currentDiv = $('div.'+btnClicked.data('parent-div-class'));
            this.currentDivType = btnClicked.data('type');
            this.currentDivLetter = btnClicked.data('letter');
            this.currentDivLetterIndex = this.letterList.indexOf(this.currentDivLetter);
            this.currentLetterDiv = $('div.'+btnClicked.data('parent-letter-class'));
            this.currentLetterSelected = this.currentLetterDiv.find('li.page-item.active').data('letter');
            this.currentDivLetterCount = this.currentDiv.find('tr.rbins-adlist-'+this.currentDivType+'-'+this.currentDivLetter).length;
            this.currentDivAllCount = this.currentDiv.find('tr.rbins-adlist-'+this.currentDivType+'-all').length;
            this.currentTable = btnClicked.parents('table');
            this.targetDiv = $('div.'+btnClicked.data('target-div-class'));
            this.targetDivType = btnClicked.data('target-type');
            this.targetLetterDiv = $('div.'+btnClicked.data('target-letter-class'));
            this.targetLetterSelected = this.targetLetterDiv.find('li.page-item.active').data('letter');
            this.targetDivLetterCount = this.targetDiv.find('tr.rbins-adlist-'+this.targetDivType+'-'+this.currentDivLetter).length;
            this.targetDivAllCount = this.targetDiv.find('tr.rbins-adlist-'+this.targetDivType+'-all').length;
            this.targetTable = this.targetDiv.find('table');
            return this;
        };

        var movingOperations = function(buttonClicked, parentTr, ad) {
            parentTr.removeClass().addClass('rbins-adlist-'+ad.targetDivType+'-'+ad.currentDivLetter).addClass('rbins-adlist-'+ad.targetDivType+'-all').find('td.person-uid').empty();
            buttonClicked.remove();
            if ( parentTr.find('button.rbins-inline-edit-uid').length > 0 && ad.targetDivType == 'person-no-id' ) {
                parentTr.find('button.rbins-inline-edit-uid i').removeClass('fa-exchange').addClass('fa-id-card-o');
            }
            else if ( parentTr.find('button.rbins-inline-edit-uid').length == 0 && ad.targetDivType == 'person-no-id' ) {
                parentTr.find('td').last().append(
                    '<span id="rbins-definition-switchable-'+
                    ad.targetDivType+
                    '-'+
                    ad.personId+
                    '" class="invisible ui-widget"><input type="text"><button type="button" class="btn btn-sm btn-secondary rbins-inline-save" data-person-uid="'+
                    ad.uid+
                    '" data-person-id="'+
                    ad.personId+
                    '" data-type="'+
                    ad.targetDivType+
                    '" data-letter="'+
                    ad.currentDivLetter+
                    '" data-parent-div-class="rbins-adlist-'+
                    ad.targetDivType+
                    '" data-target-type="person-correct-id" data-target-div-class="rbins-adlist-person-correct-id" data-parent-letter-class="rbins-letter-'+
                    ad.targetDivType+
                    '" data-target-letter-class="rbins-letter-person-correct-id"><i class="fa fa-save"></i></button><button type="button" class="btn btn-sm btn-secondary rbins-inline-close"><i class="fa fa-times"></i></button></span><button type="button" class="btn btn-sm btn-secondary rbins-inline-edit-uid" data-person-uid="'+
                    ad.uid+
                    '" data-person-id="'+
                    ad.personId+
                    '" data-type="'+
                    ad.targetDivType+
                    '" data-letter="'+
                    ad.currentDivLetter+
                    '" data-parent-div-class="rbins-adlist-'+
                    ad.targetDivType+
                    '" data-target-type="person-correct-id" data-target-div-class="rbins-adlist-person-correct-id" data-parent-letter-class="rbins-letter-'+
                    ad.targetDivType+
                    '" data-target-letter-class="rbins-letter-person-correct-id" data-target-display-id="rbins-definition-switchable-'+
                    ad.targetDivType+
                    '-'+
                    ad.personId+
                    '"><i class="fa fa-id-card-o"></i></button>'
                );
            }
            else if ( parentTr.find('button.rbins-inline-remove-uid').length == 0 && ad.targetDivType == 'person-correct-id' ) {
                parentTr.find('td').last().append(
                        '<button type="button" class="btn btn-sm btn-secondary rbins-inline-remove-uid" data-person-uid="'+
                        ad.uid+
                        '" data-person-id="'+
                        ad.personId+
                        '" data-type="'+
                        ad.targetDivType+
                        '" data-letter="'+
                        ad.currentDivLetter+
                        '" data-parent-div-class="rbins-adlist-'+
                        ad.targetDivType+
                        '" data-target-type="person-no-id" data-target-div-class="rbins-adlist-person-no-id" data-parent-letter-class="rbins-letter-'+
                        ad.targetDivType+
                        '" data-target-letter-class="rbins-letter-person-no-id"><i class="fa fa-times-circle-o"></i></button>'
                );
            }
            if ( ad.currentDivLetterCount == 1 ) {
                ad.currentLetterDiv.find('.page-item-'+ad.currentDivLetter).removeClass('enabled', 'active').addClass('disabled');
                if ( ad.currentDivAllCount == 1 ) {
                    ad.currentLetterDiv.find('.page-item-all').removeClass('enabled', 'active').addClass('disabled');
                    ad.currentTable.addClass('invisible');
                }
            }
            if ( ad.targetLetterSelected != ad.currentDivLetter && ad.targetLetterSelected != 'all' ) {
                parentTr.hide();
            }
            if ( ad.targetDivAllCount == 0 ) {
                ad.targetTable.removeClass('invisible');
                ad.targetLetterDiv.find('.page-item-all').removeClass('disabled').addClass('enabled').addClass('active');
                ad.targetTable.find('tbody').append(parentTr); // ToDo Check validity of this
            }
            else {
                if ( ad.targetDivLetterCount == 0 ) {
                    ad.targetLetterDiv.find('.page-item-'+ad.currentDivLetter).removeClass('disabled').addClass('enabled');
                    var recFound = false;
                    for ( var i=ad.currentDivLetterIndex; i-- > 0; ) {
                        if ( ad.targetTable.find('tr.rbins-adlist-'+ad.targetDivType+'-'+ad.letterList[i]).last().length > 0 ) {
                            parentTr.insertAfter(ad.targetTable.find('tr.rbins-adlist-'+ad.targetDivType+'-'+ad.letterList[i]).last());
                            recFound = true;
                            break;
                        }
                    }
                    if ( !recFound ) {
                        parentTr.insertBefore(ad.targetTable.find('tbody tr').first());
                    }
                }
                else {
                    parentTr.insertAfter(ad.targetTable.find('tr.rbins-adlist-'+ad.targetDivType+'-'+ad.currentDivLetter).last());
                }
            }
        };

        $('.rbins-btn-adsync').on(
            'click',
            function (event) {
                event.preventDefault();
                var refreshIcon = $(this).find('i.fa-refresh');
                refreshIcon.addClass('fa-spin');
                var callUrl = $(this).data('call-url');
                var messageTargetClass = $(this).data('message-target-class');
                $('.'+messageTargetClass).html('');
                $.ajax(
                    {
                        url : callUrl,
                        type: 'GET',
                        success: function (data) {
                            $('.'+messageTargetClass).html(data);
                            $('#rbins-adsync-active-options').trigger('change');
                        },
                        error: function (jqXHR) {
                            // ToDo: Use a HandleBar template to display the error in the messageTargetClass
                            // console.log('error');
                            // console.log(jqXHR.status);
                        }
                    }
                ).done(
                    function() {
                        refreshIcon.removeClass('fa-spin');
                    }
                );
            }
        );

        $('.rbins-tab-content').on(
            'click',
            '.rbins-listing a.page-link',
            function(event) {
                event.preventDefault();
                var targetElements = $($(this).data('target'));
                var excludedElements = targetElements.parents('table').find('tbody tr').not('.'+targetElements.attr('class'));
                var otherLetterLinks = $(this).parents($(this).data('parent')).find('a.page-link').not('.'+$(this).attr('class')).parents('li');
                otherLetterLinks.removeClass('active');
                $(this).parents('li').addClass('active');
                excludedElements.hide();
                targetElements.fadeIn();
            }
        ).on(
            'click',
            '.rbins-inline-remove-uid',
            function() {
                var buttonClicked = $(this);
                var ad = adSync(buttonClicked);
                var parentTr = buttonClicked.parents('tr');
                $("body").css("cursor", "wait");
                $.ajax(
                    {
                        url: "{{ path('person_remove_uid') }}",
                        data: { person_id: ad.personId },
                        type: 'POST',
                        success: movingOperations(buttonClicked, parentTr, ad),
                        error: function (jqXHR) {
                            // ToDo: Use a HandleBar template to display the error in the messageTargetClass
                            // console.log('error');
                            // console.log(jqXHR.status);
                        }
                    }
                ).done(
                    function(){
                        $("body").css("cursor", "default");
                    }
                );
            }
        ).on(
            'click',
            '.rbins-inline-edit-uid',
            function() {
                $('#'+$(this).data('target-display-id')).toggleClass('invisible');
            }
        ).on(
            'click',
            '.rbins-inline-close',
            function() {
                $(this).parents('span').addClass('invisible').find('input').val('');
            }
        );

        $('#rbins-adsync-active-options').on(
            'change',
            function(event) {
                var url = $(this).data('call-url')+'/*/'+$(this).val();
                $.get(
                    url,
                    function(data){
                        $('#person-no-id .rbins-listing').replaceWith(data['person-no-id'].letterNav);
                        $('#person-no-id .rbins-listing-details').html(data['person-no-id'].letterDetails);
                        $('#person-wrong-id .rbins-listing').replaceWith(data['person-wrong-id'].letterNav);
                        $('#person-wrong-id .rbins-listing-details').html(data['person-wrong-id'].letterDetails);
                        $('#person-correct-id .rbins-listing').replaceWith(data['person-correct-id'].letterNav);
                        $('#person-correct-id .rbins-listing-details').html(data['person-correct-id'].letterDetails);
                    }
                );
            }
        );

        $('div.rbins-adlist-person-no-id input, div.rbins-adlist-person-wrong-id input').autocomplete(
            {
                source: "{{ path('adsync_free_uids') }}",
                minLength: 2
            }
        );
    }
);
