<div class="{% if action_vars.position_class is defined %}{{ action_vars.position_class }}{% endif %} row flex-items-xs-middle rbins-menu">
    <a class="nav-link" href="#" title="Synchronize user with active directory">
        &nbsp;{% block ad_sync_text %}<span>AD Synchronization</span>{% endblock ad_sync_text %}
    </a>
</div>
