<div class="dropdown {% if action_vars.position_class is defined %}{{ action_vars.position_class }}{% endif %} row flex-items-xs-middle rbins-menu-option">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Projects">
        Projects <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Add a project</a></li>
        <li><a class="dropdown-item" href="#">List all projects</a></li>
    </ul>
</div>
