{%
    set search_vars = {
        'search_control_id': 'person-related-search',
        'search_popover_help_text_en': ('app.meta.description.fastsearch.people'|trans({}, "messages")),
        'search_type': 'person',
        'search_add_link_text': '',
        'search_placeholder_id': 'app.message.search.person',
        'search_related_main_type': type,
        'search_related_main_id': id,
        'parent': 'related',
    }
%}

<div class="row">
    <div class="hidden-xs-down col-sm-12 col-lg-4 rbins-search-content">
        {% include '_partials/search/fastSearchFormAndResults.html.twig' with {'search_vars': search_vars} %}
    </div>
    <div class="col-xs-12 col-lg-8">
        {{
            render_esi(
                controller(
                    'AppBundle:Person:renderRelatedPeopleView',
                    {
                        'id': id,
                        'view_controller': view_controller,
                        'view_route': view_route,
                        'edit_controller': edit_controller,
                        'edit_route': edit_route,
                        'type': type,
                    }
                )
            )
        }}
    </div>
</div>
