<div class="row">
    <div class="hidden-xs-down col-sm-12 col-lg-4">Left</div>
    <div class="col-xs-12 col-lg-8">
        {{ render(
                controller(
                    'AppBundle:Person:renderRelatedPeople',
                    {
                        'type': type,
                        'id': id
                    }
                )
            )
        }}
    </div>
</div>
