{% if related_projects|length == 0 %}
    {% trans from "messages" %}app.message.noRelatedProjects{% endtrans %}
{% else %}
    {% for project in related_projects %}
        <p>test</p>
    {% endfor %}
{% endif %}
