{% if related_teams|length == 0 %}
    {% trans from "messages" %}app.message.noRelatedTeams{% endtrans %}
{% else %}
    {% for team in related_teams %}
        <p>test</p>
    {% endfor %}
{% endif %}
