<div class="row">
    <div class="hidden-xs-down col-sm-12 col-lg-4">Left</div>
    <div class="col-xs-12 col-lg-8">
        {{
            render_esi(
                controller(
                    'AppBundle:Teams:renderRelatedTeamsView',
                    {
                        'id': id,
                        'view_controller': view_controller,
                        'view_route': view_route,
                        'edit_controller': edit_controller,
                        'edit_route': edit_route,
                        'type': type,
                    }
                )
            )
        }}
    </div>
</div>
