@charset "UTF-8";

// Setup files
@import 'setup/colors';
@import 'setup/fonts';
@import 'setup/breakpoints';

// Mixins
@import 'mixins/breakpoints';
@import 'mixins/border-radius';
@import 'mixins/transitions';

// Layout files
@import 'layouts/images';
@import 'layouts/navigation';
@import 'layouts/headers';
@import 'layouts/box-shadow';
@import 'layouts/content';
@import 'layouts/forms';

// Module files
@import 'modules/base';
@import 'modules/navigation';

body {
  font-size: $font-size-root;
}

.rbins-content {
  padding-top: 66px;
}

div.card {
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));

  &:hover {
    border-color: $linedgray;
    @include box-shadow(0 6px 12px rgba(55,58,60,.35));
  }
}
