<div class="{{ position_class }} row flex-items-xs-middle hidden-lg-down">
    <a href="#" title="Access your profile" alt="Your profile">
        {% block log_out_icon %}<i class="fa fa-user {% if solarize == true %}fa-inverse{% endif %} {{ icon_increase }}" aria-hidden="true"></i>{% endblock log_out_icon %}
        &nbsp;{% block log_out_text %}Firstname Lastname{% endblock log_out_text %}
    </a>
</div>