{% extends "base.html.twig" %}

{%
    set add_vars = {
        'add_type': 'projects',
        'add_text': ('app.title.home.project'|trans({}, 'messages')),
        'add_main_text': ('app.meta.description.home.project'|trans({}, 'messages')),
        'add_icon': 'fa-briefcase'
    }
%}

{% block content %}
    <div class="container-fluid rbins-content">
        <div class="row">
            <div class="col-md-3 col-lg-3 hidden-sm-down"></div>
            <div id="rbins-content-main" class="col-xs-12 col-md-9 col-lg-9">
                {# Will need to replace this by an include with vars passed or an embed or a use overriden of
                   tmeplate flash flashMessages.html.twig
                 #}
                {% block flash_messages %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger flash-error">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="alert alert-info flash-notice">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                {% endblock flash_messages %}
                {% block content_main %}
                    <div class="row rbins-cards">
                        <div class="page-header col-xs-12">
                            <h2>{% trans from 'messages' %}app.title.home.welcome{% endtrans %}</h2>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            {% block add_card_projects %}
                                {% if is_granted('ROLE_TP_LEADER') %}{% embed "_partials/cards/contentCards.html.twig" with { 'add_vars' : add_vars } %}{% endembed %}{% endif %}
                            {% endblock add_card_projects %}
                        </div>
                        {%
                            set add_vars = add_vars|merge(
                                    {
                                        'add_type': 'teams',
                                        'add_text': ('app.title.home.team'|trans({}, 'messages')),
                                        'add_main_text': ('app.meta.description.home.team'|trans({}, 'messages')),
                                        'add_icon': 'fa-users'
                                    }
                                )
                        %}
                        <div class="col-sm-6 col-lg-4">
                            {% block add_card_teams %}
                                {% if is_granted('ROLE_TP_LEADER') %}{% embed "_partials/cards/contentCards.html.twig" with { 'add_vars' : add_vars } %}{% endembed %}{% endif %}
                            {% endblock add_card_teams %}
                        </div>
                        {%
                            set add_vars = add_vars|merge(
                                {
                                    'add_type': '',
                                    'add_text': ('app.title.home.adsync'|trans({}, 'messages')),
                                    'add_main_text': ('app.meta.description.home.adsync'|trans({}, 'messages')),
                                    'add_icon': 'fa-refresh'
                                }
                            )
                        %}
                        <div class="col-sm-12 col-lg-4">
                            {% block add_card_ad_sync %}
                                {% if is_granted('ROLE_HR') %}{% embed "_partials/cards/contentCards.html.twig" with { 'add_vars' : add_vars } %}{% endembed %}{% endif %}
                            {% endblock add_card_ad_sync %}
                        </div>
                        <div class="col-sm-12">
                            {% block goto_profile %}
                                {% embed "_partials/cards/contentProfileCard.html.twig" %}{% endembed %}
                            {% endblock goto_profile %}
                        </div>
                    </div>
                {% endblock content_main %}
            </div>
        </div>
    </div>
{% endblock %}
