{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navmenu navmenu-default navmenu-fixed-right offcanvas canvas-slid"><!--style="left: 0px; right: 1380px;"-->
        <a class="navmenu-brand" href="#">Project name</a>
        <ul class="nav navmenu-nav">
            <li><a href="#">Slide in</a></li>
            <li class="active"><a href="#">Push</a></li>
            <li><a href="#">Reveal</a></li>
            <li><a href="#">Off canvas navbar</a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse rbins-navbar">
        <!-- Brand -->
        <div class="media rbins-icon-media">
            <div class="media-left">
                <a class="navbar-brand" href="{{ url('app_homepage') }}">
                    <img class="media-object logo-icon" src="{{ asset('img/logo.png') }}" alt="Logo Museum" title="Go to Homepage">
                </a>
            </div>
        </div>
        <div class="navbar navbar-default navmenu-fixed-right canvas-slid">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>    </nav>
{% endblock %}
