{% extends "default/index.html.twig" %}

{% block content_main %}
    {% include '_partials/listContent/letterNav.html.twig' with { 'type': type, 'groupsLetter': groupsLetter } %}
    <div class="row rbins-listing-details">
        {% include '_partials/listContent/letterDetails.html.twig' %}
    </div>
{% endblock content_main %}
{% block javascript_content %}
    {% include '_partials/javascripts/lettered_list.js.twig' %}
{% endblock javascript_content %}
