{% extends "default/index.html.twig" %}

{% block content_main %}
    <div class="row rbins-listing">
        <ul class="col-xs-12 pagination pagination-sm">
            {% for key,value in groupsLetter %}
                <li class="page-item {% if value == 0 %}disabled{% endif %}"><a class="page-link" href="#">{{ key }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content_main %}
