{% extends "default/index.html.twig" %}

{% block content_main %}
    <div class="row">
        <div class="col-xs-12">
            Listing will take place here
        </div>
    </div>
{% endblock content_main %}
