{% extends "default/index.html.twig" %}

{% block javascriptsheader %}
    <script type="text/javascript" src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
{% endblock %}
{% block content_main %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="content-title">{% if form.vars.id == 'teams_form' %}{% trans from "messages" into app.request.getLocale() %}app.title.home.team{% endtrans %}{% else %}{% trans from "messages" into app.request.getLocale()  %}app.title.home.project{% endtrans %}{% endif %}</h2>
        </div>
        {% include '_partials/forms/teamsProjectsFormCore.html.twig' %}
    </div>
{% endblock content_main %}

{% block return_to_top %}
{% endblock return_to_top %}

{% block javascript_content %}
    {% include '_partials/javascripts/forms.js.twig' %}
{% endblock javascript_content %}
