@charset "UTF-8";

.rbins-tab {
  padding-left: 0;
  padding-right: 0;
  @include media-breakpoint-up(md) {
    margin-left: .9rem;
  }

  .rbins-tab-content {
    min-height: 16rem;
  }
}


#rbins-tab-1,
#rbins-tab-2 {
  margin-bottom: -0.1rem;
}

#personContent,
#projectsContent,
#teamsContent {
  margin-top: 1px;
  padding-left: .3rem;
  padding-right: .3rem;

  @include media-breakpoint-up(md) {
    border: 1px solid $graylight2;
    padding: .5rem;
  }

  div.row {
    width: 100%;
  }
}

#rbins-content-main {
  padding-top: .4rem;

  .nav-tabs {
    position:absolute;
    top: 3.76rem;
    right:0;
    /*
    float: right;
    */
    border-bottom: 0;
    text-align: center;
    width: 6%;

    @include media-breakpoint-down(xl) {
      padding-right:0;
    }

    @include media-breakpoint-up(xl) {
      text-align: left;
      width: 15%;
    }

    li {
      min-height: 3rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      background-color: $darkgrey;

      @include media-breakpoint-up(xl) {
        padding-left: .5rem;
      }

      a {
        color: $white;
      }

      i.fa-cog {
        font-size: 2.5em;
      }

      span {
        vertical-align: super;
      }

      &:hover {
        a,
        i {
          color: $orange;
        }
      }
    }

    li.active {
      background-color: $graylight2;

      a,
      i {
        color: $darkgrey;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    border:0;
  }
}

.toggle_view_edit_container {
  background-color: $darkgrey;
  color: $white;
  margin-top: -8px;
  text-align: center;
  width: 30%;
  height: 1.8rem;
  vertical-align: middle;

  @include media-breakpoint-up(lg) {
    width: 25%;
  }

  @include border-bottom-radius(5px);

  a.toggle_view_edit_view_link {
    display: none;
  }

  a {
    display: inline-block;
    margin-top: .2rem;
    color: $white;

    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }

  span.toggle_view_edit_view_link_prefix,
  span.toggle_view_edit_edit_link_prefix {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.rbins-main-tab-content {
  padding-top: 1.8rem;
  width: 100%;

  dt {
    text-align: right;
  }
}
