@charset "UTF-8";

.rbins-tab {
  padding-left: 0;
  padding-right: 0;
  @include media-breakpoint-up(md) {
    margin-left: .9rem;
  }

  .rbins-tab-content {
    min-height: 16rem;
  }
}


#rbins-tab-1,
#rbins-tab-2 {
  margin-bottom: -0.1rem;
}

#personContent,
#projectsContent,
#teamsContent {
  margin-top: 1px;
  padding-left: .3rem;
  padding-right: .3rem;

  @include media-breakpoint-up(md) {
    border: 1px solid $graylight2;
    padding: .5rem;
  }

  div.row {
    width: 100%;

    hr {
      width: 100%;
    }

    dl a:hover {
      text-decoration: none;
    }

    dl a.inactive,
    dl a.inactive:hover {
      text-decoration: line-through;
      color: $gray;
    }

    dl a.inactive:hover {
      color: $black;
    }

  }
}

#rbins-content-main {
  padding-top: .4rem;

  .nav-tabs {
    position:absolute;
    top: 3.76rem;
    right: 0;
    border-bottom: 0;
    text-align: center;
    width: 6%;

    @include media-breakpoint-down(xl) {
      padding-right:0;
    }

    @include media-breakpoint-up(mlg) {
      width: 6.1%;
    }

    @include media-breakpoint-up(lmlg) {
      width: 6.2%;
    }

    @include media-breakpoint-up(xlmlg) {
      width: 6.3%;
    }

    @include media-breakpoint-up(blg) {
      width: 6.4%;
    }

    @include media-breakpoint-up(lgsm) {
      width: 6.5%;
    }

    @include media-breakpoint-up(lgmd) {
      width: 6.6%;
    }

    @include media-breakpoint-up(lglg) {
      width: 6.7%;
    }

    @include media-breakpoint-up(lgxl) {
      width: 6.8%;
    }

    @include media-breakpoint-up(xl) {
      text-align: left;
      width: 15.2%;
    }

    @include media-breakpoint-up(xxl) {
      width: 15.3%;
      padding-right: 0;
    }

    @include media-breakpoint-up(xxxl) {
      width: 15.4%;
    }

    @include media-breakpoint-up(xlxl) {
      width: 15.5%;
    }

    @include media-breakpoint-up(xxlxl) {
      width: 15.6%;
    }

    @include media-breakpoint-up(xxxlxl) {
      width: 15.7%;
    }

    li {
      min-height: 3rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      background-color: $darkgrey;

      @include media-breakpoint-up(xl) {
        padding-left: .5rem;
      }

      a {
        color: $white;
      }

      i.fa-cog {
        font-size: 2.5em;
      }

      span {
        vertical-align: super;
      }

      &:hover {
        a,
        i {
          color: $orange;
        }
      }
    }

    li.active {
      background-color: $graylight2;

      a,
      i {
        color: $darkgrey;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }

  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:hover,
  .nav-tabs>li.active>a:focus {
    border:0;
  }
}

.toggle_view_edit_container {
  background-color: $darkgrey;
  color: $white;
  margin-top: -8px;
  text-align: center;
  width: 30%;
  height: 1.8rem;
  vertical-align: middle;

  @include media-breakpoint-up(lg) {
    width: 25%;
  }

  @include border-bottom-radius(5px);

  a {
    display: inline-block;
    margin-top: .2rem;
    color: $white;

    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }

  span.toggle_view_edit_view_link_prefix,
  span.toggle_view_edit_edit_link_prefix {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.rbins-main-tab-content {
  padding-top: 1.8rem;
  width: 100%;

  dt {
    text-align: right;
  }
}

.rbins-related-actions {
  a {
    color: $black;

    &:hover {
      color: $orange;
    }

    i {
      font-size: 1.3rem;
    }
  }

  a:first-child {
    margin-right: .5rem;

    @include media-breakpoint-up(sm) {
      margin-right: .7rem;
    }
  }
}

.rbins-related-title-separator {
  margin-left: 1rem;
}

.flash-error,
.flash-warning,
.flash-success {
  display: none;

  .flash-error-text,
  .flash-warning-text,
  .flash-success-text {
    position: relative;
    vertical-align: middle;
  }
}

.no-related-content-message {
  margin-top: .5rem;
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.rbins-listing {
  text-align: center;

  .pagination {
    margin-top: .15rem;
    margin-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  ul,
  ul li {
    list-style: none;
    display: inline-block;

    a {
      text-decoration: none;
      color: $black;
    }

    a:hover {
      color: $white;
      background-color: $darkgrey;
    }
  }

  li.page-item.enabled a {
    border-color: $darkgrey;
  }

  li.page-item.enabled.active a {
    background-color: $darkgrey;
    border-color: $orange;
    color: $orange;
  }
}

.rbins-listing-details {
  margin-top: .5rem;

  ul {
    margin-bottom: 0;
    padding-left: .1rem;

    li {
      list-style: none;

      a {
        color: $black;
        text-decoration: none;
        width: 1rem;

        &:hover {
          color: $orange;
        }
      }

      i {
        vertical-align: middle;
      }

      i.fa-toggle-on,
      i.fa-toggle-off {
        margin-left: .3rem;
      }

      i.fa-eye,
      i.fa-pencil {
        font-size: 1rem;
        margin-left:1rem;
      }
      i.fa-caret-up,
      i.fa-caret-down {
        font-size: 1.5rem;
        margin-left: 1rem;
      }
    }
  }

  .rbins-cards-actions-close {
    display:none;
  }
}

.rbins-adsync-title {
  padding-bottom: .8rem;
}

.rbins-adsync-action {
  position: absolute;
  right: 1rem;
  top: .2rem;
}

span.rbins-adsync-text {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

#rbins-adsync-active-options {
  width: inherit;
  display:inline-block;
}
