@charset "UTF-8";

label {
  font-weight: bold;

  &.required:after {
    content: ' *';
    color: $orange;
  }
}

input.required:focus,
select.required:focus,
textarea.required:focus {
  border: 1px solid $orange;
}

.rbins-left-offset {
  > label {
    margin-left: .5rem;
  }

  > select {
    margin-left: 1rem;
  }
}

button.btn.rbins-save-btn,
button.btn.rbins-reset-btn,
a.btn.rbins-remove-btn {
  background-color: $white;
  border-color: $black;
  color: $black;

  &:hover {
    background-color: $orange;
    border-color: $orange;
    color: $white;
  }
}

button.btn.rbins-reset-btn,
.rbins-remove-btn-on-edit {
  margin-right: .6rem;
}

fieldset {
  border: 1px solid $graylight2;
  padding-bottom: 1rem;

  legend {
    font-size: .9rem;
    font-weight: bold;
    margin-left: .3rem;
    padding-left: .2rem;
    padding-top: .3rem;

    @include media-breakpoint-up(xs){
      width: 70%;
    }
    @include media-breakpoint-up(sm){
      width: 44%;
    }
    @include media-breakpoint-up(lg){
      width: 30%;
    }
    @include media-breakpoint-up(xl){
      width: 25%;
    }
    @include media-breakpoint-up(xlxl){
      width: 20%;
    }
  }
}

.rbins-form-dates {
  padding: 0;
}

.rbins-in-error {
  input,
  textarea,
  select {
    border-color: $error-text;
  }
}

.form-control-feedback {
  background-color: $error-background;
  border-color: $error-border;
  color: $error-text;
  line-height: 2rem;
  vertical-align: middle;

  li {
    padding-left: .3rem;
    padding-right: .3rem;
  }
}

.rbins-row-error-message {
  padding-left: 0;
  padding-right: 0;

  ul {
    margin-bottom: 0;
  }

  &.rbins-row-error-cascade-field {
    margin-left: 2px;
    margin-top: -1rem;
  }
}