@charset "UTF-8";

.rbins-login {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  margin-top: 12.5%;

  .card-block.login-title {
    padding-bottom: .1rem;

    div.alert {
      margin-top: .5rem;
    }
  }

  .card-block.login-content {
    padding-top: .1rem;
  }
}

i.fa-lock {
  margin-left: 6px;
}
