@charset "UTF-8";

.rbins-login,
.rbins-error {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  margin-top: 11%;

  .container-fluid > .card {
    border: 1px solid $lightgrey;
    @include border-radius(.25rem);
  }

  .card-block.login-header,
  .card-block.error-header {
    background-color: $darkgrey;
    padding-top: .8rem;
    padding-bottom: .8rem;
    @include border-top-radius(.25rem);

    & > .row {
      float: right;

      ul {
        padding-left: .5rem;
        padding-right: .5rem;
        li a {
          color: $white;
        }
        li.active a,
        li:hover a {
          color:$orange;
        }
      }
    }
  }

  .card-block.error-header {
    color:$white;
  }

  .card-block.login-title,
  .card-block.error-title {
    padding-bottom: .1rem;
    padding-top: .3rem;

    h1 {
      margin-left: -.2rem;
    }

    div.alert {
      margin-top: .5rem;
    }
  }

  .card-block.login-content,
  .card-block.error-content {
    padding-top: .1rem;

    p.rbins-original-error-message {
      margin-top:1rem;
      font-weight: bold;
    }
  }

  i.fa-lock,
  i.fa-home,
  i.fa-user {
    margin-left: 6px;
    margin-right: 6px;
  }

  .card-block.error-footer {
    padding-top:.3rem;
    padding-bottom:.3rem;

    ul li {
      list-style: none;

      a {
        color: $black;

        &:hover{
          color: $orange-dark;
        }
      }
    }
  }
}

button.rbins-connect {
  background-color: $orange;
  color: $lightgrey;

  &:hover,
  &:active {
    background-color: $orange-dark;
    color: $white;
  }
}
