@charset "UTF-8";

.offcanvas {
  display: none;
}

.navbar-default .navbar-offcanvas,
.navmenu-default {
  background-color: $graylight1;
  border-color: $graylight2;
}

.navbar-offcanvas,
.navmenu {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-top: 0;
  height: auto;
  width: 300px;
}

.navbar-offcanvas.navmenu-fixed-left,
.navmenu-fixed-left {
  border-width: 0 1px 0 0;
  left: 0;
  right: auto;
}

.navbar-offcanvas,
.navmenu-fixed-left,
.navmenu-fixed-right {
  border-radius: 0;
  bottom: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 1030;
}

.navmenu-fixed-right {
  right: 0;
}

.navmenu-brand {
  display: block;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0;
  padding: 10px 15px;
}

.navmenu-brand:hover,
.navmenu-brand:focus {
  text-decoration: none;
  color: $orange;
}

.navbar.rbins-navbar {
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.navmenu {
  width: 50%;

  &.rbins-searches {
    top: 64px;
  }

  &.rbins-menu {
    background-color: $darkgrey;

    hr {
      border-color: $white;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -1px;
    }

    a,
    li a {
      color: $white;

      &:hover {
        color: $orange;
      }
    }

    li.active a.nav-link,
    li.active a.nav-link:hover {
      color: $orange;
    }

    .navmenu-nav {

      li {
        margin-bottom: 6px;
        margin-top: 6px;
      }

      li.rbins-menu-dropdown {
        margin-bottom: 12px;
        margin-top: 12px;
      }

      .row {
        margin-left: 0;
        margin-right: 0;

        i {
          margin-right: 16px;
        }

        i.fa-users,
        i.fa-briefcase,
        i.fa-refresh {
          font-size: 1.5rem;
          margin-right: 14px;
        }

        i.fa-user {
          margin-right: 18px;
        }

        i.fa-users {
          margin-right: 14px;
        }

        i.fa-briefcase {
          margin-right: 17px;
        }

        i.fa-refresh {
          margin-right: 19px;
        }

        span {
          margin-top: 4px;
        }

        .dropdown-toggle:after {
          margin-top: 9px;
        }
      }
    }

    .rbins-lg-actions-profile a i,
    .rbins-lg-actions-profile a span,
    .rbins-lg-actions-logout a i,
    .rbins-lg-actions-logout a span     {
      display: block;
      float: left;
    }

    .rbins-lg-actions-profile a span,
    .rbins-lg-actions-logout a span {
      margin-top: 6px;
    }

    .rbins-lg-actions-profile a.nav-link:hover,
    .rbins-lg-actions-profile a.nav-link:hover i,
    .rbins-lg-actions-logout a.nav-link:hover,
    .rbins-lg-actions-logout a.nav-link:hover i,
    .rbins-menu-option a.nav-link:hover,
    .rbins-menu-option a.nav-link:hover i {
      color: $orange;
    }
  }

  .navmenu-brand {
    margin-bottom: 15px;
    padding-left: 0;
  }
}

button.navbar-toggle {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 4px;
  padding: 1rem;

  &:hover {
    background-color: $orange;
    border: 1px solid $orange;
  }

  .icon-bar {
    background-color: $darkgrey;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: .05rem;
    width: 1rem;
  }

  &.navbar-toggle-right {
    float: right;
  }

  &.navbar-toggle-left {
    float: left;
  }
}

.media.rbins-icon-media {
  float: left;
  margin-bottom: 0;
}

.rbins-menu-toggle {
  float: right;
  margin-right: .5rem;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 2px;
}

.nav-toggles {
  position: fixed;
  right: 0;
  width: 59%;
  z-index: 1000;

  @include media-breakpoint-between(sm, md) {
    width: 39.5%;
  }

  @include media-breakpoint-between(md, lg) {
    width: 37.5%;
  }

  @include media-breakpoint-between(lg, xl) {
    width: 36.5%;
  }

  div {
    display: inline-block;

    &.navmenu-close {
      display: none;

      button {
        height: 42px;
      }
    }
  }
}

.rbins-lg-actions {
  float: right;
  height: 46px;

  div {
    height: 46px;
    margin-left: 1rem;
    margin-right: 0;

    a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:hover i {
        color: $orange;
      }
    }

    ul.locale_chooser a.nav-link:hover,
    ul.locale_chooser li.active a.nav-link,
    ul.locale_chooser li.active a.nav-link:hover {
      color: $orange;
    }
  }

  div:first-child {
    margin-left: 0.5rem;
  }

  .rbins-lg-actions-profile a i,
  .rbins-lg-actions-profile a span,
  .rbins-lg-actions-logout a i,
  .rbins-lg-actions-logout a span {
    display: block;
    float: left;
  }

  .rbins-lg-actions-profile a i,
  .rbins-lg-actions-logout a i {
    margin-right: 9px;
  }

  .rbins-lg-actions-profile a span,
  .rbins-lg-actions-logout a span {
    margin-top: 3px;
  }
}

.rbins-menu-option {
  color: $white;

  a {
    width: 100%;
  }

  i,
  span {
    display: block;
    float: left;
  }

  i {
    margin-right: 16px;
  }

  i.fa-users,
  i.fa-briefcase,
  i.fa-refresh {
    font-size: 1.5rem;
    margin-right: 8px;
  }

  ul.dropdown-menu {
    height: auto;

    a {
      color: $black;

      &:hover {
        color: $orange;
      }
    }

    &::before {
      border-bottom: 7px solid $white;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      color: $white;
      content: '';
      display: inline-block;
      left: 9px;
      position: absolute;
      top: -7px;
    }
  }

  ul.collapse-menu {
    display: none;
    height: auto;
    list-style: none;
    padding-left: 22px;

    a:hover {
      background-color: transparent;
      color: $orange;
    }
  }
}

.rbins-menu-option.open > ul.collapse-menu {
  display: block;
  z-index: 10500;

  a {
    background-color: transparent;
  }
}

.rbins-set-bottom {
  bottom: 8px;
  position: absolute;
}

#rbins-search-menu {
  overflow-x: hidden;

  div.load-spinner {
    display: none;
    float: right;
    margin-right: 0.5rem;
    margin-top: -1.9rem;

    i.fa-circle-o-notch {
      font-size: 1.4rem;
    }
  }

  div form a.add_item {
    padding-left: 3px;
    color: $darkgrey;

    &:hover {
      color: $orange;
    }

    i.fa-plus-circle {
      margin-right: 3px;
    }
  }
}

.rbins-btn-secondary {
  color: $white;
  text-align: left;
}

#people-heading {
  margin-top: 0.5rem;
}

#people-heading,
#teams-heading,
#projects-heading {

  @include media-breakpoint-between(md, lg) {
    margin-left: -15%;
    width: 128%;

    button {
      padding-left: 12%;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-left: -10%;
    width: 120%;

    button {
      padding-left: 8%;
    }
  }
}

.rbins-content .rbins-cards a {
  color: $darkgrey;
  text-decoration: none;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.wobble-fix {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  filter: blur(0);
}

#return-to-top {
  outline: 0;
}

.panel {
  outline: 0;
}
