@charset "UTF-8";

.navbar.rbins-navbar {
  border-radius: 0;
}
.navmenu {
  width: 12.5rem;
  &.rbins-searches {
    top: 4rem;
  }
}
button.navbar-toggle {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 4px;
  float: right;
  padding: 1rem;
  .icon-bar {
    background-color: $darkgrey;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: .05rem;
    width: 1rem;
  }
}
.media.rbins-icon-media {
  float: left;
  margin-bottom: 0;
}
.rbins-menu-toggle {
  float: right;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: .25rem;
}
