@charset "UTF-8";

.navbar.rbins-navbar {
  border-radius: 0;
}
.navmenu {
  width: 12.5rem;
}
button.navbar-toggle {
  background-color: $white;
  background-image: none;
  border: 1px solid $white;
  border-radius: 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 0.5rem;
  margin-top: 8px;
  padding: 1rem;
  position: relative;
}
.media.rbins-icon-media {
  margin-bottom: 0;
}
