<div class="toggle_view_edit_container m-x-auto">
        <a class="toggle_view_edit_edit_link" href="{{ path( type , { '_locale': app.request.getLocale(), 'id': id, 'action': 'edit' } ) }}"><i class="fa fa-pencil"></i>&nbsp;<span class="toggle_view_edit_edit_link_prefix">Switch to </span><span>edit</span></a>
        <a class="toggle_view_edit_view_link" href="{{ path( type , { '_locale': app.request.getLocale(), 'id': id, 'action': 'view' } ) }}"><i class="fa fa-eye"></i>&nbsp;<span class="toggle_view_edit_view_link_prefix">Switch back to </span><span>view</span></a>
</div>
